<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.6.6.0" newVersion="3.6.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbDatabaseProviderFactories>
      <remove invariant="MySqlProvider.Data.MySqlDatabaseProviderClient"/>
      <add name="MySQL Data DatabaseProvider" invariant="MySqlProvider.Data.MySqlDatabaseProviderClient" description=".Net Framework Data DatabaseProvider for MySQL" type="MySqlDatabaseProvider.Data.MySqlDatabaseProviderClient.MySqlDatabaseProviderClientFactory, MySqlDatabaseProvider.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbDatabaseProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>