<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Essential.Templating.Common" version="1.0.3" targetFramework="net452" />
  <package id="Essential.Templating.Razor" version="1.0.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net452" />
  <package id="RazorEngine" version="3.6.6" targetFramework="net452" />
</packages>